<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragment for css files -->
<th:block th:fragment="cssfiles">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" />
</th:block>
<!-- Fragment for java script files -->
<th:block th:fragment="scriptfiles">
<!--Included Javascript Files Details--> 
<script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/plugins.js}" src="../static/js/plugins.js"></script>
</th:block>
<body>
<!-- Fragment for Sidebar admin -->
<div id="sidebar" th:fragment="sidebar">
  <div class="sideContent">
    <div class="menu">
      <ul>
        <li class="heading">Foundation</li>
        <li class="current"><a href="user.html"><i class="fa fa-user-circle-o"></i> User</a></li>
        <li><a th:href="@{/company}"><i class="fa fa-building-o"></i>Company</a></li>       
        <li class="heading">Configuration</li>
        <li><a th:href="@{/assessment}"><i class="fa fa-check-circle"></i> Assessment</a></li>
        <li><a th:href="@{/services}"><i class="fa fa-cog custom"></i> Services</a></li>
        <li><a href="template.html"><i class="fa fa-clone custom"></i> Template</a></li>
        <li><a href="questionnaire.html"><i class="fa fa-question-circle"></i> Questionnaire</a></li>
        <li><a href="application.html"><i class="fa fa-desktop custom"></i> Application</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Fragment for Sidebar user -->
<div id="sidebar" th:fragment="sidebaruser">
  <div class="sideContent">
    <div class="menu">
      <ul>           
        <li class="heading">Configuration</li>
         <li><a th:href="@{/assessment}"><i class="fa fa-check-circle"></i> Assessment</a></li>
        <li><a th:href="@{/services}"><i class="fa fa-cog custom"></i> Services</a></li>
        <li><a href="template.html"><i class="fa fa-clone custom"></i> Template</a></li>
        <li><a href="questionnaire.html"><i class="fa fa-question-circle"></i> Questionnaire</a></li>
        <li><a href="application.html"><i class="fa fa-desktop custom"></i> Application</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Fragment for Header -->
<div id="header" th:fragment="header">
<header class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
      <div class="logo"><a href="index.html"></a></div>
      <div class="comLogo"><a href="index.html"></a></div>           
    </div>
    <div class="col-lg-3 col-md-2 hidden-sm-down">
      <div class="search"><i class="fa fa-search"></i>
        <input type="text" name="search" id="search" placeholder="" />
      </div>
    </div>
    <div class="col-lg-5 col-md-5 hidden-sm-down">
      <div class="userInfo">
        <ul>
          <li>
            <select class="language">
              <option>Language</option>
              <option value="eng" selected>English</option>
              <option value="fr">French</option>
            </select>
          </li>
          <li><a href="#">My Profile</a></li>
          <!-- <li><a href="#">Logout</a></li> -->
          <li><a th:href="@{/logout}">Logout</a></li>
          <li><span class="users"><img src="images/user.png"/></span></li>
        </ul>
      </div>
    </div>
  </div>  
</header>
</div>
<!-- Fragment for Footer -->
 <div id="footer" th:fragment="footer">
 <footer class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="copyright">&copy; HCL 2018</div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="links">
			<ul>
              <li><a href="help.html">Help</a></li><li><a href="support.html">Support</a></li><li><a href="term.html">Term of Use</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
   </div>> 
</body>
</html>
