<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="modalData" th:fragment="modelAssessment">
  <div class="modal" id="createAssessment">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Assessment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="createAsmtForm">
            <form th:action="@{/saveAssessment}" method="post">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Assessment ID</label>
                  <input type="text" name="assessmentId" id= "assessmentId" class="form-control" disabled="disabled" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Assessment Name</label>
                  <input type="text" name="assessmentName" id= "assessmentName" class="form-control" />
                </div>
              </div>
              <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
              	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="no">Start Date</label>
					<input name="startDate" class="form-control crtStart" id= "startDate" />
                    <span class="dateIcon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="no">End Date</label>
				<input name="endDate" class="form-control crtEnd" id= "endDate"/>
                <span class="dateIcon"><i class="fa fa-calendar"></i></span>
                </div>
              
              </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  	 <label class="no">Status</label>
                     <select name="active" id="active" class="form-control">
                        <option value= "1">Active</option>
                        <option value="0">Inactive</option>
                      </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="no">Description</label>
                  <textarea id="description" name= "description" class="form-control" rows="2" col="3" ></textarea>
                </div>
              </div>
              <div class="buttonGroup">
              <!--   <button type="button" class="btn btnSave mr-2">Save</button> -->
                <input type="submit" class="btn btnSave mr-2" value="submit"/>
                <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="editAssessment">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Assessment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="editAsmtForm">
            <form th:action="@{/saveAssessment}" method="post">
              		<div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Assessment ID</label>
                  <input type="hidden" name="assessmentId" id= "assessmentId" class="form-control" />
                  <input type="text" name="assessmentCode" id= "assessmentCode" class="form-control" readonly />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <label>Assessment Name</label>
                 <input type="text" name="assessmentName" id= "assessmentName" class="form-control" />
                </div>
              </div>
             		<div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
              	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="no">Start Date</label>
					<input name="startDate" class="form-control crtStart" id= "startDate" />
                    <span class="dateIcon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label class="no">End Date</label>
					<input name="endDate" class="form-control crtEnd" id= "endDate"/>
                    <span class="dateIcon"><i class="fa fa-calendar"></i></span>
                </div>
              
              </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  	 <label class="no">Status</label>
                     <select class="form-control" name="active" id="active">
                        <option value= "1">Active</option>
                        <option value="0">Inactive</option>
                      </select>
                </div>
              </div>
             		<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="no">Description</label>
                  <textarea class="form-control" rows="2" col="3" id="description" name= "description"></textarea>
                </div>
              </div>
              <div class="tabParts">
                <div class="row">
                  <div class="col-12">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item"><a class="nav-link active show" href="#systemInfo" role="tab" data-toggle="tab" aria-selected="false">System Information</a></li>
                      <li class="nav-item"><a class="nav-link" href="#history" role="tab" data-toggle="tab" aria-selected="true">History</a></li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade active show" id="systemInfo" role="tabpanel" aria-labelledby="list-sysInfo-list">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="no">Created On</label>
                            <input type="text" name="createdon" class="form-control" />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="no">Created By</label>
                            <input type="text" name="createdby" class="form-control" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="no">Modified On</label>
                            <input type="text" name="modifyon" class="form-control" />
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label class="no">Modified By</label>
                            <input type="text" name="modifyby" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="list-history-list">
                        <table class="table inner">
                          <thead>
                            <tr>
                              <th>Field Name</th>
                              <th>Old Value</th>
                              <th>New Value</th>
                              <th>Updated By</th>
                              <th>Updated On</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Lorum Lipsume</td>
                              <td>Lorum Lipsume</td>
                              <td>Lorum Lipsume</td>
                              <td>Lorum Lipsume</td>
                              <td>Lorum Lipsume</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttonGroup">                
                <input type="submit" class="btn btnSave mr-2" value="Update"/>
                <button type="button" class="btn btnCancel" data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- delete modal window -->
  <div class="modal fade" id="deleteAssessmentModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title" id="exampleModalLabel">Delete Assessment</h2>
						<!-- <button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> -->
					</div>
					<div class="modal-body">
					 <p class="alert alert-danger">Are you sure you want to delete this assessment?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<a href= "" class="btn btn-danger"  id='delRef'>Delete</a>
					</div>
				</div>
			</div>
		</div>
  <!-- end of delete modal window -->
</div>

</body>
</html>